DATABASE_URL="mysql://medismart:medismart@127.0.0.1:3306/medismart"
JWT_SECRET="cambia_esto_por_un_secreto_largo_y_seguro"
# Configuración del Túnel de Ngrok
NGROK_AUTHTOKEN=3DhUAQsr8r9maOVlfeVxxRjBnad_ZPHetiVAQujBthdWsskr
NGROK_DOMAIN=twitter-flight-gurgling.ngrok-free.dev
WHATSAPP_VERIFY_TOKEN=medismart-verify-2026